{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
<main class="login">
    <img src="{{ asset('mairie.png') }}" id="bg" alt="Mairie">
    <aside>
        <h1 class="h3 mb-3 font-weight-normal">Bienvenue sur <span class="surlignage">Fid'Antony</span></h1>
        <h2>Interface Administrateur</h2>


        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        {% if app.user %}
            <p>Vous êtes connecté avec {{ app.user.userIdentifier }}</p>
            <div class="align-flex">
                <a href="{{ path('ask') }}" class="button">Continuer</a>
                <a href="{{ path('app_logout') }}" class="button">Se déconnecter</a>
            </div>
        {% else %}
            <form method="post">
                <label for="inputEmail">Email</label>
                <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
                <label for="inputPassword">Mot de passe</label>
                <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>

                <input type="hidden" name="_csrf_token"
                       value="{{ csrf_token('authenticate') }}"
                >
                <button class="button" type="submit">
                    Connexion
                </button>
            </form>
        {% endif %}

    </aside>
</main>
{% endblock %}
